@model IEnumerable<ReactDemo.NET.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>DisplayProduct</h2>

<div id="appProd" class="container"></div>


@section Scripts{
    <httpCookies requireSSL="true" />
    <script src="~/Scripts/react/dist/app.bundle.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />
}
